# App
ENVIRONMENT=development
HOST=0.0.0.0
PORT=8002
LOG_LEVEL=INFO

# Postgres
DATABASE_HOST=db
DATABASE_NAME=melodia
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_PORT=5432

# Auth
AUTH_SECRET=dev-secret
AUTH_ISSUER=auth-service
AUTH_ALGORITHM=HS256

# Cloudinary
CLOUDINARY_CLOUD_NAME=cloudinary
CLOUDINARY_API_KEY=cloudinary
CLOUDINARY_API_SECRET=cloudinary

# Backend Services
API_GATEWAY_URL=http://api-gateway:8080

# Notifications
SERVICE_TOKEN=dev-service-token