# App
ENVIRONMENT=development
HOST=0.0.0.0
PORT=8000
LOG_LEVEL=INFO

# Postgres
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=melodia
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/melodia